#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include "socfpga_cyclone5_de0_nano_soc.dts"

/ {
	soc {
		fpgameapu {
			compatible = "altr,socfpga-fpgameapu";
			interrupts = <GIC_SPI 40 IRQ_TYPE_LEVEL_HIGH>;
		};
		fpgameppu {
			compatible = "altr,socfpga-fpgameppu";
			interrupts = <GIC_SPI 41 IRQ_TYPE_EDGE_RISING>;
		};
	};
};
